@import '../../styles/variables.scss';
//@import "../../styles/index.scss";

.about-us {
    background-color: $light-grey;

    &>div {
        &>div>div {
            margin: 100px auto !important;

            &>h2 {
                &::after {
                    background: url(../../assets/images/title-bg-style.png) no-repeat center top;
                    // @extend .bg-separator;
                    height: 20px;
                    width: 100%;
                    content: "";
                    position: relative;
                    display: block;
                    margin: 15px auto 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 100px) {
    .about-us>div>div>div {
        margin: 50px auto !important;
    }
}