@import '../../../styles/variables.scss';

.carousel {

    &.slide>a.carousel-control-next,
    .carousel-control-prev {
        top: 50%;
        width: 5%;
        height: 10%;
        color: red;
    }
}